@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
    --color-F5F5F5: #F5F5F5;
    --color-68519D: #68519D;
    --color-68519D-retangulo: #68519D;
    --color-D7CAE5: #D7CAE5;
    --color-F8B04E: #F8B04E;
    --color-FFFFFF: #FFFFFF;
    --color-000000: #000000;
    --color-828282: #828282;
    --color-2C2661: #2C2661;
    --color-2C2661-img: #2C2661;
}


body {
    font-family: "Poppins";
    background: var(--color-F5F5F5);
    transition: background 0.20s linear;
}

* {
    padding: 0;
    margin: 0;
}

#retangulo {
    background-color: var(--color-68519D-retangulo);
    height: 823px;
    width: 51px;
    display: inline-block;
    position: fixed;
    z-index: 1;
}
#retangulo-transparente {
    background-color: var(--color-D7CAE5);
    height: 823px;
    width: 80px;
    margin-left: -8px;
    display: inline-block;
    position: fixed;
}

#sair{
    position: fixed;
    z-index: 1;
    padding-left: 10px;
    padding-top: 20px;
}

#poligono {
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 634px;
    height: 75%;
    width: 20%;
    background-color: var(--color-F8B04E);
    clip-path: polygon(0 100%, 0 45%, 45% 0, 100% 0);
    transform: rotate(180deg);
}
#logo {
    padding-top: 60px;
    padding-left: 133px;
    width: 216px;
    height: 64px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.darkMode {
    display:flex;
    justify-content: right;
    margin-right: 10%;
    margin-top: 60px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: var(--color-2C2661);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 20px;
    height: 10px;
    width: 60px;
}

#ball {
    background-color: var(--color-FFFFFF);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    margin-left: -10px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}


.checkbox:checked + .label #ball {
    transform: translateX(40px);
}


#box-titulo {
    padding-top: 20px;
    margin-left: 133px;
    display: flex;
    color: var(--color-68519D);
    font-size: 14px;
    font-weight: bold;
}

#box-titulo svg {
    margin-top: 6px;
    margin-right: 8px;
}

#botao {
    margin-top: 19px;
    margin-left: 133px;
    border: 1px solid var(--color-68519D);
    color: var(--color-68519D);
    height: 45px;
    width: 260px;
    border-radius: 20px;
    font-size: 20px;
    background-color: var(--color-F5F5F5);
}

#botao:hover {
    color: var(--color-FFFFFF);
    background-color: var(--color-68519D);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.content-modal {
    background-color: var(--color-F5F5F5);
    height: 581px;
    width: 661px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}

#form-grupo {
    color:var(--color-68519D);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 15px;
    font-size: 16px;
    padding-top: 10px;
}

#form-grupo h2 {
    padding-bottom: 20px;
}

#form-grupo input, select {
    height: 50px;
    width: 555px;
    border-radius: 10px;
    border: 1px solid var(--color-000000);
    padding-left: 20px;
    font-size: 16px;
    color:var(--color-2C2661);
    background-color: var(--color-F5F5F5);
}

#form-grupo #data, select{
    width: 222px;
}

#form-grupo #data {
    color: var(--color-68519D);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

#form-grupo select{
    color: var(--color-2C2661);
    font-size: 14px;
    padding-top: 5px;
}

#form-grupo option:hover {
    background-color: var(--color-2C2661);
}

#botao-form  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


#botao-form #cancelar {
    font-size: 16px;
    color: var(--color-828282);
    border: none;
    text-decoration: underline;
    margin-right: 50%;
    background-color: var(--color-F5F5F5);
}

.submit{
    font-size: 16px;
    font-weight: bold;
    background-color: var(--color-F5F5F5); 
    color:var(--color-68519D);
    border: 1px solid var(--color-68519D);
    border-radius: 20px;
    width: 121px;
    height: 36px;
    margin-left: 20%;
}

.submitAtivado {
    background-color: var(--color-68519D);
    color: var(--color-FFFFFF);
}


#tabela-container {
    width: 80%;
    font-size: 15px;
    color: var(--color-2C2661);
    margin-top: 67px;
}

.tabela, th, td {
    padding-left: 70px;
    text-align: left;
    padding-bottom: 5px;
    padding-top: 5px;  
}


tbody button {
    background-color: var(--color-F5F5F5);
    border: none;
    cursor: pointer;
    margin-right: 8px;
}

tbody button svg #editar {
    fill: var(--color-2C2661-img)
}

#quebra-linha {
    word-break: break-all;
    width: 30%;
}

.concluido {
   color: #27AE60;
   font-weight: bold;
}

.em-andamento {
    color: #F8B04E;
    font-weight: bold;
}

.fora-do-prazo {
    color: #EB5757;
    font-weight: bold;
}

